.header{
    background-color: #f1e14b;
    font-size: large;
    color: black;
    font-family:cursive;
 
}
.banner-logo{
    font-weight: 600;
       color: black;
       font-size: x-large;
   }
   .header-link{
       color: black ;
       font-weight: 600;
   }
   .nav-link{
    padding: 0;
   }
   .logout-btn{
    color: black;
     background-color:#f1e14b; 
     border: none;
    
     
  
  }
  .logout-btn:hover{
      background-color: #f1e14b;
  }
 