footer{
    background-color: black;
   
}
.full-footer{
    display: flex;
    padding:50px 40px;
    font-family:cursive;
   
}
.footer-item{
    text-align:left ;
    padding: 12px;
    font-family: "Poppins",sans-serif;    line-height: 1.75em;
    font-weight: 400;
    padding: 24px;
    color: white;

}
.subscribe-button{
    background-color: #f1e14b;
    color: black;
    border: none;
    padding: 8px 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
}
.subscribe-button:hover{
    background-image: linear-gradient(to bottom, #f1e14b 50%,rgba(255, 255, 255, 0.651) 100%);
}
b{
    font-weight: 700;
    color: #f1e14b;
}
.developed{
    color: #f1e14b;
    background-color: black;
    margin-bottom: 0px;
    font-family: "Poppins",sans-serif;
}

.link-undo{
    
    color: white;
    text-decoration: none;
}
.link-undo:hover{
    color: #fff;
}
.icon-font{
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #f1e14b;
}