.card-text{
   
    text-align: start;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
.card{
    width: 100%;
    height: 540px;
   
    border: 2px solid rgba(255, 255, 0, 0.842);
    border-radius: 15px;
}
.card img{
    height: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.card-footer{
  
    border-top: none;
    align-self: center;
}

.card-footer button{
    background-color: rgba(0, 0, 0, 0.637);
    color:  #f1e14b;
    padding: 8px 100px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 0);
    font-weight: 500;
    font-family: "Poppins",sans-serif;
   
   
  
}


