.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 5px;
}
.add-service input[submit]{
    background-color:  #f1e14b;
  }
.service{
    background-color: rgba(0, 0, 0, 0.747);
    color:  #f1e14b;
    padding: 5%;
}